// Fonts
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,700&subset=latin-ext');

// Variables
@import "variables";

// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

@import "imports/comments";
@import "imports/footer";

html {
    position: relative;
    min-height: 100%;
}
body {
    margin-bottom: 60px;
}

body > .container {
    padding: 60px 15px 0;
}
